.center {
text-align:center;
}
.componentHover {
background:#ffff66 !important;
}
.even {
background:#e9f0fa;
}
.inappropriate {
color:#f00;
font-style:italic;
}
.indentLarge {
margin-left:60px;
}
.indentSmall {
margin-left:15px;
}
.left {
text-align:left;
}
.odd {
background:#fff;
}
.right {
text-align:right;
}
.selected {
background:#75d764;
}
div#headerText {
font-weight:bold;
padding:5px;
}
span#resultFileResponse {
padding-left:10px;
}
table#componentTable {
border-collapse:collapse;
width:100%;
}
table#componentTable thead th {
text-align:left;
}
table#componentTable tbody tr {
vertical-align:top;
border-bottom:1px solid #594ca3;
}
table#componentTable tbody td {
padding:5px;
}
div.form {
border:1px solid #000;
padding:10px;
}
div.select {
display:none;
}