.center {
text-align:center;
}
.componentHover {
background:#ffff66 !important;
}
.error {
background:#ffa07a url(../img/error.small.bg.pad4.png) top left no-repeat;
border:1px solid #f00;
color:#000;
}
.even {
background:#e9f0fa;
}
.inappropriate {
color:#f00;
font-style:italic;
}
.indentLarge {
margin-left:60px;
}
.indentSmall {
margin-left:15px;
}
.left {
text-align:left;
}
.message {
display:none;
font-size:12px;
left:0px;
margin:0 0 10px;
padding:4px 25px;
position:relative;
top:0px;
}
.odd {
background:#fff;
}
.right {
text-align:right;
}
.selected {
background:#75d764;
}
.success {
background:#90ee90 url(../img/success.small.bg.pad4.png) top left no-repeat;
border:1px solid #006400;
color:#000;
}
.warning {
background:#fafad2 url(../img/warning.small.bg.pad4.png) top left no-repeat;
border:1px solid #ffd700;
color:#000;
}


div#Dialogs {
display:none;
}
div#Feedback input, div#Feedback textarea {
font-size:12px;
}
div#Feedback input {
width:230px;
}
div#Feedback textarea {
height:150px;
width:99%;
}
div#Feedback div#ThankYou {
display:none;
}

div#headerText {
font-weight:bold;
padding:5px;
}
span#resultFileResponse {
padding-left:10px;
}
table#componentTable {
border-collapse:collapse;
width:100%;
}
table#componentTable thead th {
text-align:left;
}
table#componentTable tbody tr {
vertical-align:top;
border-bottom:1px solid #594ca3;
}
table#componentTable tbody td {
padding:5px;
}

div.feedback {
padding-top:10px;
text-align:left;
}
div.feedback a {
color:#00f;
cursor:pointer;
text-decoration:underline;
}
div.form {
border:1px solid #000;
padding:10px;
}
div.select {
display:none;
}